@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
* {
	font-family: 'Open Sans', helvetica, sans-serif;
}

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
  font-family: 'Open Sans', helvetica, sans-serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------
html {
	width: 320px;
}

.stuck {
  position: fixed;
  width: 320px;
}

body {
	-webkit-transition: all 4.0s ease-in-out;
	-moz-transition: all 4.0s ease-in-out;
	-ms-transition: all 4.0s ease-in-out;
	-o-transition: all 4.0s ease-in-out;
	transition: all 4.0s ease-in-out
}

a:hover {
 	text-decoration: none !important;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

video {
    max-width: 100%;
    height: auto;
}

#container {}

header {

	z-index: 100000;
	background: white;
	width: 100%;
	max-width: 320px;

	#mc_embed_signup {
		background: $mailchimp-background-color;
		padding: 10px;
		color: white;

		.close {
			color: white;
			text-shadow: none;
			opacity: 1;
			position: absolute;
			right: 10px;
			top: 10px;
		}

		.btn {
			width: 100%;
		}
	}

	nav {
		padding: 10px;
		position: relative;

			#navButton{
			display: inline-block;
			float: left;
			margin-left: 34px;
			margin-top: 10px;


				.bar {
					display: block;
					background: $mailchimp-background-color;
					width: 42px;
					height: 6px;
					border-radius: 3px;
					margin-bottom: 2px;
				}

			}

			.navItems {
				margin: 0;
				position: absolute;
				top: 64px;
				left: 0;
				background: white;
				width: 100%;
				min-width: 300px;
				margin: 0 auto;
				display: block;
				display: none;
				height: auto;

				li{
					text-align: center;
				}
			}

			#logo {
				float: left;

				p {
					margin: 0;
				}

			}

			#logo, .social {
				line-height: 44px;
				font-size: 24px;
				font-weight: bold;
			}

			.social ul {
				display: block;
				float: right;
				margin: 0;
				padding: 0;

				li {
					float: left;

					a{
						margin-right: 10px;
					}

					.icon-envelope {
						margin: 0;
					}
				}
			}
	}

}

#main {

	.current, .year {
		margin: 20px 0;

		a {
			display: block;
		}

	}

	h2 {
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		line-height: 24px;
		margin: 0;
		background: $grey;
		cursor: pointer;
	}

	.text {
		padding: 10px;
	}

	.info {
		width: 60%;
		float: left;

		h3 {
			font-size: 24px;
			font-weight: bold;
			line-height: 24px;
			margin: 0;
			display: inline-block;
			float: left;
		}

		h4 {
			font-size: 18px;
			font-style: italic;
			line-height: 18px;
			margin: 0;
			display: inline-block;
			clear: left;
		}
	}

	.date {
			font-size: 13px;
			font-style: italic;
			line-height: 13px;
			margin: 0;
			float: right;
		}

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ SINGLE PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.showText {
	float: left;
	margin-top: 20px;
}

.center {
	text-align: center;
	float: left;
	display: block;
	width: 100%;
	height: auto;

	&:hover {
		background: $grey;
	}
}

.images {

	li {
		margin-top: 10px;
	}

}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
	background: black;
	padding: 10px;
	color: white;
	font-weight: normal;

		p {
			margin: 0;
		}
}

h2.stuck {
top: 64px;
}
