@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
* {
	font-family: 'Open Sans', helvetica, sans-serif;
}

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
  font-family: 'Open Sans', helvetica, sans-serif;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

.img {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.img a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.img a:hover {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(30%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
opacity: 1;
-webkit-transition: opacity 1s ease;
-moz-transition: opacity 1s ease;
-o-transition: opacity 1s ease;
-ms-transition: opacity 1s ease;
transition: opacity 1s ease;
}

html {
	min-width: 320px;
}

header.stuck {
	z-index: 1000;
}

.stuck {
  position: fixed;
  width: 100%;
  z-index: 100;
}

h2.stuck {
top: 64px;
}

body {
	-webkit-transition: all 4.0s ease-in-out;
	-moz-transition: all 4.0s ease-in-out;
	-ms-transition: all 4.0s ease-in-out;
	-o-transition: all 4.0s ease-in-out;
	transition: all 4.0s ease-in-out
}

h3 {
	font-size: 24px;
	font-weight: bold !important;
	line-height: 24px;
	margin: 0 !important;
	display: inline-block;
}

h4 {
	font-size: 18px;
	font-style: italic;
	line-height: 18px;
	margin: 0;
	display: inline-block;
}


a:hover {
 	text-decoration: none !important;
}

ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}

ol {
	list-style-type: decimal;
	padding: 0 0 0 30px;

	li{
		list-style: inherit;
	}
}

video {
	width: 100%;
    	max-width: 100%;
    	height: auto;
}

#container {}

header {

	z-index: 100000;
	background: white;
	width: 100%;
	min-width: 320px;

	#mc_embed_signup {
		z-index: 100000;
		display: none;
		background: $mailchimp-background-color;
		padding: 10px;
		color: white;

		.close {
			color: white;
			text-shadow: none;
			opacity: 1;
			position: absolute;
			right: 10px;
			top: 10px;
		}

		.btn {
			width: 100%;
		}
	}

	nav {
		padding: 10px;
		position: relative;

			#navButton{
			display: inline-block;
			float: left;
			position: absolute;
			top: 20px;
			left: 45%;


				.bar {
					display: block;
					background: $mailchimp-background-color;
					width: 42px;
					height: 6px;
					border-radius: 3px;
					margin-bottom: 2px;
				}

			}

			.navItems {
				margin: 0;
				position: absolute;
				top: 64px;
				left: 0;
				background: white;
				width: 100%;
				min-width: 300px;
				margin: 0 auto;
				display: none;
				height: auto;

				li{
					text-align: center;
				}
			}

			#logo {
				float: left;

				p {
					margin: 0;
				}

			}

			#logo, .social {
				line-height: 44px;
				font-size: 24px;
				font-weight: bold;
			}

			.social ul {
				display: block;
				float: right;
				margin: 0;
				padding: 0;

				li {
					float: left;

					a{
						margin-right: 10px;
					}

					.icon-envelope {
						margin: 0;
					}
				}
			}
	}

}

#main {

	.current, .years {
		margin: 20px 0;

		a {
			display: block;
		}

	}

	h2 {
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		line-height: 24px;
		margin: 0;
		background: $grey;
		cursor: pointer;
	}

	.text {
		padding: 10px;
	}

	.info {
		width: 60%;
		float: left;
		margin-bottom: 10px;

		h3 {
			font-size: 24px;
			font-weight: bold;
			line-height: 24px;
			margin: 0;
			display: inline-block;
			float: left;
		}

		h4 {
			font-size: 18px;
			font-style: italic;
			line-height: 18px;
			margin: 0;
			display: inline-block;
			clear: left;
			float: left;
		}
	}

	.date {
			font-size: 13px;
			font-style: italic;
			line-height: 13px;
			margin: 0;
			float: right;
		}

}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ SINGLE PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.showText {
	float: left;
	margin-top: 20px;
}

.center {
	text-align: center;
	display: block;
	width: 100%;
	height: auto;

	&:hover {
		background: $grey;
	}
}

.images {

	li {
		margin-top: 10px;
	}

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTACT PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.map{
	position: relative;

	iframe {
		width: 100%;
		height: 500px;
	}

	.details {
		position: absolute;
		bottom: 0;
		background: rgba(255,255,255,0.8);
		font-weight: bold;
	}

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ ABOUT PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.curator .year {
	margin: 0;
	font-style: italic;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
	background: black;
	padding: 10px;
	color: white;
	font-weight: normal;

		p {
			margin: 0;
		}
}


